html,
body {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
/* ШАПКА 1 START*/
.header-top {
  width: 1280px;
  background-color: black;
  color: white;
  padding: 4px 0 4px 0;
  font-size: 10px;
}
.container {
  width: 568px;
  margin: 0 auto;
}
.header-row {
  display: flex;
}
.header-left {
  display: flex;
  margin-right: auto;
}
.header-left-content {
  display: flex;
  column-gap: 5px;
}
.header-info {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.header-right {
  display: flex;
  margin-left: auto;
}
.header-right-content {
  display: flex;
  column-gap: 5px;
}
.header-left-content {
  display: flex;
  align-items: center;
}
.header-right-content {
  display: flex;
  align-items: center;
}
.header-right-content a {
  max-height: 12px;
}
/* <!-- ШАПКА 1 END--> */

/* <!-- ШАПКА 2 START--> */
.container2 {
  width: 1280px;
  height: 283px;
}
.backgroundimg img {
  position: absolute;
  z-index: -1;
}
.logomeny {
  display: flex;
  font-size: 11px;
  color: white;
}
.backgroundalpha {
  background-color: rgba(0, 0, 0, 0.7);
  height: 48px;
  width: 100%;
  z-index: -1;
}
.container568 {
  max-width: 568px;
  margin: 0 auto;
  align-items: center;
}
.logomenyleft {
  display: flex;
}
.logomenyleft a {
  display: flex;
  padding-top: 10px;
}
.logomenyright {
  display: flex;
  align-items: center;
}
.header-nav {
  margin-left: auto;
}
.header-nav ul {
  display: flex;
  padding: 0;
  list-style-type: none;
}
.snidanok {
  position: absolute;
  top: 33%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white; 
  font-size: 36px;
  text-align: center; 
}
.snidanok p {
  margin: 0;
}
/* <!-- ШАПКА 2 END --> */

/* 	<!-- MENY 1 START --> */
.outercont {
  width: 1280px;
  height: 197px;
  background-color: white;
}
.container3 {
  width: 568px;
  height: 100%;
  margin: 0 auto;
  background-color: white;
}
.meny1 {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}
.meny1 li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.meny1 li span {
  flex: 1;
}
.meny1 li span:first-child {
  text-align: left;
  white-space: nowrap;
  color: black;
}
.meny1 li span:last-child {
  text-align: right;
  color: red;
}
/* 	<!-- MENY 1 END --> */